/* COLOR SCHEME */

* {
    font-family: 'Montserrat', sans-serif;
}


/* FONT STYLES */

/* COLORS */

/* GENERAL STYLING */

body {
    height: 100%;
}

/* HOMEPAGE */
main {
    z-index: -1;
}

/*.hero-section {
    position: sticky;
    background-image: url("../assets/images/lightbulb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}*/